/dags/src/firebase_service_account_key.json
logs/
__pycache__/
dags/**/__pycache__/
*.pyc
dags/src/data_preprocessing/service_account_key.json
data_pipeline/service_account_key.json
frontend/node_modules
backend/node_modules
Scraping/driver
/dags/src/data_preprocessing/service_account_key.json
data_drift/service_account_key.json