accelerate
beautifulsoup4==4.10.0
bitsandbytes
datasets
docx==0.2.4
dvc
einops
git+https://github.com/huggingface/peft.git
google-cloud-firestore
pandas
python-docx==0.8.11
requests==2.26.0
scikit-learn
selenium==4.3.0
transformers
trl
wandb
webdriver-manager==3.8.3